<div class="container">
  <h2>Employee List</h2>
 
  <div class="card" *ngFor="let employee of employees" >
    
    <div class="card-header">
      <h3>{{employee.name}}</h3>
    </div>
    <div class="card-body">
      <ul>Employee id: {{employee.id}}</ul>
      <ul>Employee Age: {{employee.age}}</ul>
      <hr>
      <div style ="text-align: right">
        <button text="submit" class="btn btn-primary" (click)= "deleteEmp(employee.id)" >Delete</button>
      </div>
    </div>

    
  </div>
</div>
