<div class = "container">
    <h1> Welcome to Practice-HTTP</h1>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)] = "eName" placeholder="Employee Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)] = "eAge" placeholder="Employee Age">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click) ="addNewEmployee()">Add Employee</button>
        </div>
    </div>
  </div>
</div>